# Ignorar arquivos compilados
*.pyc
*.class
*.o
*.so

# Ignorar diretórios de ambientes virtuais
venv/
env/

# Ignorar arquivos de configuração do sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos temporários
*.tmp
*.log

# Ignorar arquivos de dependências
node_modules/
vendor/

# Ignorar arquivos de configuração sensíveis
config/settings.py
.env
